:root {
  --Brand: #689ac7;
  --color-surface-mixed-100: #181c24;
  --color-surface-mixed-200: #2d3139;
  --color-surface-mixed-300: #3a3e45;
  --color-surface-mixed-400: #44474e;
  --color-surface-mixed-500: #5c5f65;
  --color-surface-mixed-600: #75777d;
  --color-surface-mixed-700: #8f9196;
  --color-surface-mixed-800: #b0b3b9;
  --theme: white;
  --background: white;
}
input,
textarea {
  touch-action: manipulation;
}
.announcement.good ::selection {
  background-color: #37f03d80;
  color: #fff;
}
.announcement.warning ::selection {
  background-color: #def03880;
  color: #fff;
}
.announcement.critical ::selection {
  background-color: #eb0d0d80;
  color: #fff;
}
input:autofill {
  background-color: #2186e1b3 !important;
  border: 3px solid #2186e1;
}
input:-webkit-autofill {
  background-color: #2186e1b3 !important;
  border: 3px solid #2186e1;
}
::-moz-selection {
  color: #fff;
  background: rgba(61, 107, 153, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
::selection {
  color: #fff;
  background: rgba(61, 107, 153, 0.3);
  border-radius: 10px;
  overflow: hidden;
}
svg {
  fill: currentColor;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 20px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2186e1;
  border-radius: 20px;
  box-shadow: #0000001a 1px 1px 5px;
}
.rtTooltipHeader {
  padding: 5px 10px 5px 15px;
}
.rtTooltipFooter {
  padding: 0 50px 25px 0;
}
.rtTooltipBrandLink {
  visibility: hidden;
}
.rtTooltipRoundedCorners .rtContainer,
.iframe {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .tab-collapsed {
    padding-left: 6.25rem;
  }
  .tab-collapsed .navbar-logo.full {
    display: none;
  }
  .tab-collapsed .navbar-logo.small {
    display: flex;
  }
  .tab-collapsed .button.navbar .navbar-text,
  .tab-collapsed .collapse-content {
    display: none;
  }
  .tab-collapsed .navbar-wrapper {
    width: 6.25rem;
  }
  .tab-collapsed #collapse {
    display: none;
  }
  .tab-collapsed #expand {
    display: block;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-surface-mixed-200);
    color: var(--color-surface-mixed-800);
  }
  .page-wrapper,
  .event-details-section,
  .notes-top {
    background-color: var(--color-surface-mixed-100);
  }
  h1,
  h2,
  h3,
  a,
  .text-color-blue {
    color: var(--Brand);
  }
  h4,
  h5,
  h6,
  .heading-style-h4,
  .heading-style-h5,
  .heading-style-h6,
  label {
    color: #fff;
  }
  p,
  .button.is-text,
  .fs_modal-1_close-icon {
    color: var(--color-surface-mixed-800);
  }
  .dash-block,
  .connect-form-input-wrapper {
    background: var(--color-surface-mixed-200);
  }
  .dash-block.announcements {
    background: transparent;
  }
  .announcement.good {
    color: #37f03d;
  }
  .announcement.warning {
    color: #def038;
  }
  .mobile-header {
    background: var(--color-surface-mixed-200);
    color: #fff;
  }
  .mobile-header.spacer {
    background-color: transparent;
  }
  .text-color-black,
  .mobile-header,
  .Navbar-Logo,
  .tab-link,
  .button.is-icon.is-tab {
    color: #fff;
  }
  .background-color-white {
    background: var(--color-surface-mixed-200);
  }
  .background-color-grey,
  .section-header,
  .event-details-datetime-div,
  .ql-text,
  .notes-bottom {
    background: var(--color-surface-mixed-400);
  }
  .background-color-black {
    background: white;
  }
  .icon-1x1-medium {
    fill: currentColor;
  }
  .textarea,
  .text-field,
  .Sermon-Text-Input {
    background: var(--color-surface-mixed-100);
    border-color: var(--color-surface-mixed-400);
    color: #fff;
  }
  .list-item {
    background: var(--color-surface-mixed-200);
    border-color: var(--color-surface-mixed-400);
    color: #fff;
  }
  .dark-only {
    display: block;
  }
  .light-only {
    display: none;
  }
  .swiper-3d.swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .series-list-item-info-learnmore {
    background: rgba(0, 0, 0, 0.2);
    border-color: #000;
  }
  .event-details-cost-div {
    background: rgba(12, 53, 16, 0.3);
    color: #4abe39;
  }
  .d,
  .e,
  .f,
  .g,
  .navbar-logo {
    fill: #fff;
    color: #fff;
  }
  .ql-toolbar-wrapper,
  .ql-toolbar {
    background: var(--color-surface-mixed-300);
  }
  .ql-editor.ql-blank:before {
    color: var(--color-surface-mixed-500);
  }

  .author-select,
  .bible-picker-input {
    border: 1.5px solid white;
  }
  .bible-picker-modal-wrapper,
  .author-select-droplist {
    background-color: var(--color-surface-mixed-300);
  }

  .bible-picker-modal-header {
    border-bottom: 1px solid var(--color-surface-mixed-500);
  }
  .bible-picker-chapter,
  .bible-picker-passage {
    color: white;
  }

  @media screen and (max-width: 767px) {
    .navbar-wrapper {
      background-color: var(--color-surface-mixed-200);
    }
    .side-navbar {
      background-image: linear-gradient(rgba(0, 0, 0, 0), var(--color-surface-mixed-100));
    }
  }
  .text-field.search:focus {
    box-shadow: 0 0 60px 100px var(--color-surface-mixed-300);
  }
}
